template/doc.aux
template/doc.bbl
template/doc.bcf
template/doc.blg
template/doc.lof
template/doc.log
template/doc.lot
template/doc.pdf
template/doc.run.xml
template/doc.synctex.gz
template/doc.toc
template/doc-blx.bib
template/texput.log
