taxi/fhvhv_tripdata_2019-07.csv
obsolete/
obsolete/taxi/preprocessing-old.ipynb
taxi/trips.csv
taxi/taxi_zones_simpler.csv
taxi/trips_simpler.csv
taxi/models
taxi/test
taxi/Zdumx
taxi/ZExperimentation.ipynb
taxi/.ipynb_checkpoints
taxi/ZExperim.py
taxi/env
taxi/__pycache__/*.pyc